{{ block "documents" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Schoolbell&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/web/css/styles.css" />
    <title>IDS | Documents</title>
  </head>
  <body>
    <nav>
      <a href="/docs" class="active">Documents</a>
      <a href="/users">Users</a>
    </nav>

    <table style="border-collapse: collapse; margin: 20px 0">
      <tr style="background-color: #f2f2f2">
        <th style="padding: 12px; border: 1px solid #ccc; text-align: left">
          Title
        </th>
        <th style="padding: 12px; border: 1px solid #ccc; text-align: left">
          Locked
        </th>
      </tr>
      {{ range .Documents }}
      <tr
        style="transition: background-color 0.2s ease; cursor: pointer"
        onmouseover="this.style.backgroundColor='#e6f0ff';"
        onmouseout="this.style.backgroundColor='';"
        hx-get="/docs/{{.Title}}"
        hx-target="#document-viewer"
      >
        <td style="padding: 12px; border: 1px solid #ccc">{{ .Title }}</td>
        <td style="padding: 12px; border: 1px solid #ccc">
          {{ if .IsLocked }} 🔒 {{ end }}
        </td>
      </tr>
      {{ end }}
    </table>

    <section id="document-viewer"></section>
  </body>
</html>
{{ end }}
