{{ block "login" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/web/htmx/htmx.min.js"></script>
    <!-- <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Schoolbell&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/web/css/styles.css" />
    <title>IDS | Login</title>
  </head>
  <body>
    <main
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      "
    >
      <h2>Intrusion Detection System</h2>
      <form
        action="/login"
        method="post"
        style="
          display: flex;
          flex-direction: column;
          max-width: 450px;
          width: 100%;
          gap: 10px;
        "
      >
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button
          type="submit"
          style="
            padding: 8px;
            background-color: cornflowerblue;
            color: white;
            font-size: large;
            border: 1px solid black;
            border-radius: 8px;
            cursor: pointer;
          "
        >
          Login
        </button>
      </form>
      <p style="color: red">{{ .Error}}</p>

      <section style="margin-top: 28px">
        <h3 style="text-decoration: underline; font-weight: bold">
          Tips to Trigger Detections
        </h3>
        <br />

        <h4>SQL injection</h4>
        <ul>
          <li>
            Enter <strong>' OR '1'='1</strong> as the username or password.
            <br />
            <small
              >This could allow a user to bypass a login page:
              <strong
                >SELECT * FROM users WHERE username = '' OR '1'='1' AND password
                = '';</strong
              ></small
            >
          </li>
          <li>
            Enter <strong>'; DROP TABLE docs; --</strong> as the username or
            password.
            <br />
            <small
              >This could cause a table in the database to be deleted:
              <strong
                >SELECT * FROM users WHERE username = ''; DROP TABLE users;
                --';</strong
              ></small
            >
          </li>
        </ul>
        <br />
        <h4>XSS Attack</h4>
        <ul>
          <li>
            Enter in this URL to access the site:
            <strong
              >https://server-ids.up.railway.app/login?error=&lt;script&gt;alert('XSS')&lt;/script&gt;</strong
            >
            <br />
            <small
              >This would cause an alert to be shown in the browser but it could
              be used to run malicious code for anyone that clicks a link
            </small>
          </li>
          <li>
            Enter
            <strong>&lt;script&gt;alert('XSS')&lt;/script&gt;</strong>
            as the username or password
            <br />
            <small
              >This could be used to run malicious code when entered
            </small>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
{{ end }}
