{{ block "users" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/web/htmx/htmx.min.js"></script>
    <!-- <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Schoolbell&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/web/css/styles.css" />
    <title>IDS | Users</title>
  </head>
  <body>
    <nav>
      <a href="/docs">Documents</a>
      <a href="/users" class="active">Users</a>
      <a href="/login">Login</a>
    </nav>
    
    <p style="color: red">{{ .Error }}</p>
    {{ if .Error }}
    <script>alert("{{ .Error }}");</script>
    {{ end }}
    <table style="border-collapse: collapse; margin: 20px 0">
      <tr style="background-color: #f2f2f2">
        <th style="padding: 12px; border: 1px solid #ccc; text-align: left">
          Username
        </th>
        <th style="padding: 12px; border: 1px solid #ccc; text-align: left">
          Role
        </th>
        <th style="padding: 12px; border: 1px solid #ccc; text-align: left">
          New Role
        </th>
      </tr>
      {{ range .Users }}
      <tr style="transition: background-color 0.2s ease; cursor: pointer">
        <td style="padding: 12px; border: 1px solid #ccc">{{ .Username }}</td>
        <td style="padding: 12px; border: 1px solid #ccc">{{ .Role }}</td>
        <td style="padding: 12px; border: 1px solid #ccc">
          <select
            name="newRole"
            hx-patch="/users/{{ .Username }}/role"
            hx-target="body"
            hx-trigger="change"
            hx-include="this"
            {{ if ne $.SessionUser.Role "admin" }}disabled{{ end }} 
          >
            <option value="guest" {{ if eq .Role "guest" }}selected{{ end }}>guest</option>
            <option value="employee" {{ if eq .Role "employee" }}selected{{ end }}>employee</option>
            <option value="admin" {{ if eq .Role "admin" }}selected{{ end }}>admin</option>
          </select>
        </td>
      </tr>
      {{ end }}
    </table>
  </body>
</html>
{{ end }}
